<div class="user">
    <mat-toolbar color="primary" style="margin-bottom: 5%;">
        Add User:
     </mat-toolbar>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput #userName>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput #userEmail>
        </mat-form-field>
    </div>
    <div>
        <button mat-raised-button color="primary" (click)="addUser(userName.value, userEmail.value)">Add</button>
    </div>
</div>